@import '../../../../styles/constants.scss';


.staffCard {
    width: 345px;
    height: 345px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    background-size: cover;
    transition: .3s ease;
    &__head {
        margin-bottom: auto;
    }
    &__link {
        margin-top: auto;
    }
    &__head,
    &__link {
        font-size: 25px;
        color: $white;
        z-index: 150;
        text-align: center;
        display: none;
        &:hover {
            color: $white;
        }
    }
    &:hover {
        & {
            position: relative;
            padding: 20px 0;
            &::before,
            &::after {
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                border-radius: 5px;
                background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(106,187,189,0.5) 75%);
            }
        }
        .staffCard__head,
        .staffCard__link {
            display: block;
        }

    }
}
@media(max-width: 390px) {
    .staffCard {
        width: 260px;
    }
}
