$black: black;
$white: #fff;
$blue: #0099FF;
$orange: #FFCC00;
$turquoise: #6abbbd;
$dark-blue:#364d79;
$turquoise-light: #77c2c428;
$turquoise-hover: #6abcbd8f;
$red: red;

$fontSansSerif: 'Century Gothic' ,sans-serif;
